<p id="notice"><%= notice %></p>

<div class="well">
	<center><h3>Mano de Obra Planeada</h3></center>
</div>

<div class="row">
	<h4>
		<div class="col-md-6">
			<strong>Modulo:</strong>
			<%= @work.modulo.nombre rescue nil %>
		</div>
	</h4>
	<h4>
		<div class="col-md-6">
			<strong>Operarios:</strong>
			<%= @work.operarios %>
		</div>
	</h4>
</div>
<br>
<div class="well">
	<h4>
		<div class="row">
			<div class="col-md-6">
				<b>Total Mano de Obra planeada:</b>
			</div>
			<div class="col-md-6">
				<%= number_to_currency(@work.totalPlaneada, :unit => '$', precision: 3)%>
			</div>
		</div>
	</h4>
</div>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
