<p id="notice"><%= notice %></p>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Costo variable Por Producto</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Costo variables por Lote</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- Tab Numero 1 -->
    <div role="tabpanel" class="tab-pane active" id="home">
      <center><h2>Costo Variable Producto</h2></center>
      <br><br>
        <div class="row">
          <div class="col-md-4">
            <p>
              <strong>Numero:</strong>
              <%= @variable.numero %>
            </p>
          </div>
          <div class="col-md-4">
            <p>
              <strong>Ficha:</strong>
              <%= @variable.datasheet.nombre rescue nil %>
            </p>
          </div>
          <div class="col-md-4">
            <p>
              <strong>Cantidad Lote:</strong>
              <%= @variable.cantidadLote %>
            </p>
          </div>
       </div><br>
      
      <div class="well">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Cantidad</th>
              <th>Nombre</th>
              <th>Unidad Medida</th>
              <th>Valor Unidad</th>
              <th>Valor Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @variable.cantidad.to_i %></td>
              <td><%= @variable.datasheet.nombre rescue nil %></td>
              <td><%= @variable.medida %></td>
              <td><%= @variable.valor_unidad.round(0) %></td>
              <td><%= @variable.valor_total.round(0) %></td>
            </tr>
          </tbody>
        </table>
        
        <p>
          <strong>Total:</strong>
          <%= @variable.total.to_i %>
        </p>
      </div>
      <%= link_to 'Editar', edit_variable_path(@variable) %> |
      <%= link_to 'Atras', variables_path %>
      
    </div>
    
    <!-- Tab numero 2 -->
    <div role="tabpanel" class="tab-pane" id="profile">
      <center><h2>Costo Variable Producto</h2></center>
      <br><br>
      <div class="row">
        <div class="col-md-4">
          <p>
            <strong>Numero: </strong>
            <% Lote.all.each do |lote| %>
              <%= lote.numero %>
            <% end %>  
          </p>
        </div>
        <div class="col-md-4">
          <strong>Ficha: </strong>
          <% Lote.all.each do |lote| %>
            <%= lote.datasheet %>
          <% end %>
        </div>
        <div class="col-md-4">
          <strong>Cantidad Lote: </strong>
          <% Lote.all.each do |lote| %>
            <%= lote.cantidadLote %>
          <% end %>  
        </div>
      </div>
      <div class="well">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Cantidad</th>
              <th>Nombre</th>
              <th>Unidad Medida</th>
              <th>Valor Unidad</th>
              <th>Valor Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% Lote.all.each do |lote| %>
                <td><%= lote.cantidad %></td>
                <td><%= lote.nombre %></td>
                <td><%= lote.unidadmedida %></td>
                <td><%= lote.valor_unitario %></td>
                <td><%= lote.valor_total %></td>
              <% end %>  
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>

</div>
